@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 50% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 89 74% 64%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 43.1%;
    --accent: 70 78% 57%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 89 74% 64%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 10% 10%;
    --foreground: 0 0% 98%;
    --card: 120 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 120 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 89 74% 64%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 120 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 70 78% 57%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 20%;
    --input: 120 5% 20%;
    --ring: 89 74% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
